<button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="invoiceAddClick()">
  Add Invoice
</button>

<button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal1"
  (click)="dependentCreditNoteaddClick()">
  Add DependentCreditNote
</button>

<button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal2"
  (click)="inDependentCreditNoteaddClick()">
  Add InDependentCreditNote
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{DependentCrediModalNoteTitle}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-dependentCreditNote [dependentCreditNote]="dependentCreditNote" *ngIf="ActivateAddEditDdependentCreditNoteComp">
        </app-add-edit-dependentCreditNote>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-invoice [emp]="emp" *ngIf="ActivateAddEditEmpComp">
        </app-add-edit-invoice>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{InDependentCrediModalNoteTitle}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-in-dependent-credit-note [inDependentCreditNote]="inDependentCreditNote" *ngIf="ActivateAddEditInDdependentCreditNoteComp">
        </app-add-edit-in-dependent-credit-note>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>InvoiceNumber</th>
      <th>ExternalInvoiceNumber</th>
      <th>InvoiceStatus</th>
      <th>InvoiceTotalAmount</th>
      <th>CreditNumber</th>
      <th>ExternalCreditNumber</th>
      <th>CreditStatus</th>
      <th>CreditTotalAmount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of InvoiceList">
      <td>{{dataItem.invoiceNumber}}</td>
      <td>{{dataItem.externalInvoiceNumber}}</td>
      <td>{{dataItem.invoiceStatus}}</td>
      <td>{{dataItem.invoiceTotalAmount}}</td>
      <td>{{dataItem.creditNumber}}</td>
      <td>{{dataItem.externalCreditNumber}}</td>
      <td>{{dataItem.creditStatus}}</td>
      <td>{{dataItem.creditTotalAmount}}</td>   
      <td [width]="100" [height]="50">
        <button type="button" title="InvoiceEdit" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          </svg>
        </button>
        <button title="InvoiceDelete" type="button" class="btn btn-light mr-1" (click)="deleteClick(dataItem)">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
          </svg>
        </button>
            <button title="InDependentCreditNote" type="button" class="btn btn-light mr-1" (click)="inDependentCreditNotedeleteClick(dataItem)">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.354 8L15 12.646 12.646 15 8 10.354 3.354 15 1 12.646 5.646 8 1 3.354 3.354 1 8 5.646 12.646 1 15 3.354 10.354 8z"/>
              </svg>
        </button>
        <button title="DependentCreditNote" type="button" class="btn btn-light mr-1" (click)="dependentCreditNotedeleteClick(dataItem)">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H4l1.938 9.689A1.5 1.5 0 0 0 7.418 15h1.164a1.5 1.5 0 0 0 1.48-1.311L12 4h1.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-11zM5.499 5L5 14h6l-.5-9h-5zM4.12 3h7.76L12.5 14H3.5l.62-11z"/>
          </svg>
         </button>
      </td>
    </tr>
  </tbody>
</table>
